/* fonts */
@font-face {
    font-family: "High Tower Text";
    src:
        local("High Tower Text"), 
        url(../files/high-tower-text.ttf) format('truetype');
}

@font-face {
    font-family: "Neutra Text";
    src:
        local("Neutra Text"), 
        url(../files/neutra-text-light.otf) format('opentype');
}

/* header */
body{
    padding: 0;
    margin: 0;
    background-image: url("../images/crest_bg.png"), url("../images/crest_bg.png"), url("../images/horizontal_grain_bg.jpg");
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: 15% 15%, 85% 100%, left top;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
    display: table;
}

header.page_header{
    background: rgba(255,255,255,.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "High Tower Text";
}

.page_header_logo{
    float: left;
}

.page_header_logo > img {
    vertical-align: bottom;
    margin: 1px 0 4px;
}

.page_header_text {
    text-transform: uppercase;
}

.page_header_text,
.login,
.header_nav
{
    float: right;
    clear:right;
}


.page_header_text > .login {
    margin-top: 16px; 
}

.header_nav{
    margin-top: 14px;
}

.page_header_text > .login > a,
.header_nav > ul > li > a
{
    line-height: 21px;   
}

.page_header_text a:hover
{
    transition: 0.6s;
    color: tomato;
}

.header_nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;    
}

.header_nav > ul > li {
    display: inline-block;
    margin-left: 12px;
}

.header_nav > ul > li:first-child{
    margin: 0;
}


/* slider */

.slider {
    display: table;
    margin: 0 auto;
    width: 1200px;
}

.slider img {
    vertical-align: bottom;
    width: 100%;
}

/* .section_background */

.section_background {
    background: rgba(255, 255, 255, .8);
    box-shadow: 11px 11px 20px 0 rgba(0, 0, 0, .45);
    margin-top: 50px;
}

/* about_us */

section.about_us {
    text-align: center;
}

.about_visit {
    float: left;
    margin: 36px 0 20px 36px;
}

.about_mailing {
    float: left;
    margin: 36px 0 20px 73px;
}

.about_shipping {
    float:right;
    margin: 36px 36px 20px 0;
}

.about_visit,
.about_mailing,
.about_shipping {
    text-align: center;
}

.about_visit img,
.about_shipping img
{
    vertical-align: bottom;
    border: 1px solid #313131;
}

section.about_us h3 {
    margin: 12px 0 0;
    
    text-transform: uppercase;
    color:  #4B4B4B;
    font: 400 36px/42px "High Tower Text";
}

.about_mailing > form{
    display: table;
    width: 240px;
    margin: 1px auto;
    background: #E9E8E8;
}

.about_mailing p,
.about_mailing label {
    color: #4B4B4B;
    font: 16px/24px "High Tower Text";
}

.about_mailing p {
    margin: 2px 0 0;
}

.about_mailing label,
.about_mailing input
{
    float: left;
    clear: both;
    margin: 0 15px;    
}

.about_mailing input {
    width: 210px;
    font: 18px/30px "High Tower Text";
    border: none;
    padding: 0 10px;
    box-shadow: inset 1px 1px 5px 0 rgba(0, 1, 1, .23);
}

label[for="name"] {
    margin-top: 2px;
}


label[for="email"] {
    margin-top: 4px;
}

input#email {
    margin-bottom: 20px;
}

/* wine sell */

section.sell_wine > article {
    padding: 20px;
}

section.sell_wine > article:nth-child(odd) {
    float: left;
}

section.sell_wine > article:nth-child(even) {
    float: right;
}

.wine_sell_card {
    background: #2D2D2D;
    color: #fff;
    width: 430px;
    display: table;
}

.wine_sell_card > h2 {
    font: 400 24px/28px "High Tower Text";
    margin: 16px 0 15px;
    text-align: center;
}

.wine_sell_card > p {
    margin: 16px 25px 0;
    font: 14px/20px "Neutra Text";
    color: #FEFBFB;
}

.wine_sell_card > .wine_sell_info {
    display: table;
    margin: 13px 25px 16px;
    width: 380px;
}

.wine_sell_card img {
    vertical-align: bottom;
}

.wine_sell_price {
    float: left;
}
.wine_sell_price p {
    margin: 0;
    font: 18px/27px "High Tower Text";
}

.wine_sell_info form {
    float: left;
    margin-left: 50px;
}

.wine_sell_info a {
    float: right;
}

.wine_sell_info form input {
    border: none;
    width: 50px;
    padding: 0;
    text-align: center;

    font: 18px/30px "Neutra Text"
}

.wine_sell_info form > *
{
    float: left;
}

.wine_sell_info form a
{
    margin-top: 26px;
    clear: left;
    text-transform: uppercase;
    cursor: pointer;

    font: 700 18px/27px "Neutra Text";
}
.wine_sell_info form label {
    padding-right: 9px;
    font: 700 18px/30px "Neutra Text";
}

/* wine collection */
section.collection_discover {
    text-align: center;
}

section.collection_discover h1 {
    margin: 16px 0 0;
    color: #4B4B4B;
    font: 400 60px/72px "High Tower Text";
}

section.collection_discover img {
    vertical-align: bottom;
}

section.collection_discover a
{
    display: inline-block;
    margin: 21px 19px 37px;
}

/* footer */

footer.page_footer{
    background: #2D2D2D;
    margin-top: 50px;
    color: #fff;
}

footer.page_footer h3 {
    font: 18px/18px "Neutra Text";
    margin: 31px 0 0;
    padding-bottom: 2px;
    width: 205px;
    border-bottom: 1px solid #fff;
}

footer.page_footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer.page_footer li {
    font: 14px/18px "Neutra Text";
}

.page_footer_about,
.page_footer_contact {
    float: left;
}

.page_footer_social {
    float: right;
}

.page_footer_contact {
    margin-left: 153px;
}

div.page_footer_about ul {
    margin-top: 11px;
}

.page_footer_contact ul li:nth-child(1) a {
    padding: 18px 0 19px 67px;
}

.page_footer_contact ul li:nth-child(2) a {
    padding: 12px 0 11px 67px;
}

.page_footer_contact ul a
{
    display: inline-block;
}

.page_footer_contact ul li:nth-child(1) {
    background-image: url("../images/letter.png");
    background-position: center left;
}

.page_footer_contact ul li:nth-child(2) {
    background-image: url("../images/phone.png");
    background-position: 17px center;
}

.page_footer_contact ul li
{
    background-repeat: no-repeat;
}

.page_footer_social li {
    float: left;
    vertical-align: bottom;
}

.page_footer_social a {
    width: 45px;
    height: 45px;
    display: block;
}

.page_footer .container {
    padding-bottom: 64px;
}

.social_fb {
    background-image: url("../images/Fb_white.png");
}

.social_tw {
    background-image: url("../images/Twitter_white.png");
}

.social_pin {
    background-image: url("../images/PIN_white.png");
}

.page_footer_social a {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 18px;
    
}

.page_footer_social li:nth-child(n+2) a{
    margin-left: 20px;
}

/* @media (max-width: 1200px) {
    .slider {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
    }
}

header
@media (max-width: 960px) {
    .page_header_logo {
        width: 350px;
    }

    .page_header_logo > img
    {
        margin: 11px 0;
        width: 100%;
    }
}

@media (max-width: 860px) {
    .page_header_logo {
        display: block;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .page_header_logo > img
    {
        margin: 11px 0;
        width: auto;
    }

    .page_header_text {
        margin: 0 auto;
        float: none;
        display: table;
    }

    .login {
        float: right;
        clear: none;
    }

    .header_nav {
        float: left;
        clear: none;
    }

    .header_nav,
    .login
    {
        margin-bottom: 10px;
    }

    .page_header_text {
        width: 96%;
    }
}


about
@media (max-width: 960px) {
    .container {
        width: 96%;
    } 

    .about_mailing {
        float: none;
        display: inline-block;
        margin: 36px auto;
    }
    
    section.about_us {
        text-align: center; 
    }
} */